{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel Guide</title>
    <link href="https://fonts.googleapis.com/css?family=Charmonman|Crimson+Text|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav>
            <div>
                <ul class="logo">
                    <li><a href="/"><img src="https://i.imgur.com/g4hxgFg.png"></a></li>
                </ul>
                <ul class="nav-bar">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' user.username %}">Hello, {{ user.username }}!</a></li>                        
                        <li> | </li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login </a></li>
                        <li> | </li>
                        <li><a href="{% url 'signup' %}">SignUp</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="right">© 2018 Travel Guide - Bucketlist Where Next? &nbsp;</div>
    </footer>
</body>
</html>