{% extends 'base.html' %}
{% block content %}
<section class="banner">
    <h2>{{ bucketlist.city.name }}</h2>
    <h3>{{ bucketlist.user }} | {{ bucketlist.created_at }}</h3>
    <p>{{ bucketlist.spots.count }} places to visit</p>
    <img src="https://picsum.photos/1200/190">
</section>
<section class="flex-container">
    {% for spot in bucketlist.spots.all %}
        <div class="col-3">
            <a href="{% url 'spots_detail' spot.id %}">
                <h2>{{ spot.name }}</h2>
                <p>{{ spot.details }}</p>
            </a>
        </div>
    {% endfor %}
</section>
{% endblock %}