{% extends 'base.html' %}
{% block content %}

<section class="slide">
    <a href="/city">
        <h1>CREATE YOUR BUCKETLIST?</h1>
        <img src="https://i.imgur.com/OZkOwti.jpg">
    </a>
</section>
<h2>Need ideas?</h2>
<section class="flex-container">
    
    <div class="col-3">
        <a href="http://localhost:8000/city/1">
            <img src="https://i.imgur.com/X8xJ6w5.jpg">
            <h3>Rio de Janeiro</h3>
            <p>See more</p>
        </a>
    </div>
    <div class="col-3">
        <a href="http://localhost:8000/city/4">
            <img src="https://i.imgur.com/SC5cE0J.jpg">
            <h3>New York</h3>
            <p>See more</p>
        </a>
    </div>
    <div class="col-3">
        <a href="http://localhost:8000/city/2">
            <img src="https://i.imgur.com/pQFqmoV.jpg">
            <h3>Amsterdam</h3>
            <p>See more</p>
        </a>
    </div>
    <div class="col-3">
        <a href="http://localhost:8000/city/3">
            <img src="https://i.imgur.com/gtG1GDb.jpg">
            <h3>Los Angeles</h3>
            <p>See more</p>
        </a>
    </div>
    
</section>

{% endblock %}