{% extends 'base.html' %}
{% block content %}

<section class="slide">
    <a href="/city">
        <h1>CREATE YOUR BUCKETLIST</h1>
        <h3>Select spots of the city to create your own travel bucketlist</h3>
        <img src="https://i.imgur.com/XTp0Q98.jpg">
    </a>
</section>
<section class="flex-container">
    <h2>Need ideas?</h2>
    
    <div class="col-3">
        <a href="/city/1">
            <img src="https://i.imgur.com/X8xJ6w5.jpg">
            <h3>Rio de Janeiro</h3>
            <p>See more &rarr;</p>
        </a>
    </div>
    <div class="col-3">
        <a href="/city/4">
            <img src="https://i.imgur.com/9UOBbbD.jpg">
            <h3>New York</h3>
            <p>See more &rarr;</p>
        </a>
    </div>
    <div class="col-3">
        <a href="/city/2">
            <img src="https://i.imgur.com/QnQeCuu.jpg">
            <h3>Amsterdam</h3>
            <p>See more &rarr;</p>
        </a>
    </div>
    <div class="col-3">
        <a href="/city/3">
            <img src="https://i.imgur.com/gtG1GDb.jpg">
            <h3>Los Angeles</h3>
            <p>See more &rarr;</p>
        </a>
    </div>
    
</section>

{% endblock %}