{% extends 'base.html' %}
{% block content %}

<section class="slide">
    <h1>Create your bucketlist?</h1>
    <img src="https://picsum.photos/1200/450">
</section>
<h2>Need ideas?</h2>
<section class="flex-container">
    
    <div class="col-3">
        <img src="https://picsum.photos/220/220">
        <h3>City</h3>
        <p>Check out this places.</p>
    </div>
    <div class="col-3">
        <img src="https://picsum.photos/220/220">
        <h3>City</h3>
        <p>Check out this places.</p>
    </div>
    <div class="col-3">
        <img src="https://picsum.photos/220/220">
        <h3>City</h3>
        <p>Check out this places.</p>
    </div>
    <div class="col-3">
        <img src="https://picsum.photos/220/220">
        <h3>City</h3>
        <p>Check out this places.</p>
    </div>
    
</section>

{% endblock %}