{% extends 'base.html' %}

{% block content %}
<section class="banner">
    <h2>Hello, {{ user.username }}!</h2>
    <h3>These are your bucketlists!</h3>
    <img src="https://picsum.photos/1200/200">
</section>
<section class="flex-container">
{% for bucketlist in user.bucketlist_set.all %}
    <div class="col-3">
            <h2>{{ bucketlist.city.name }}</h2>
            <p>{{ bucketlist.spots.count }} places to visit</p>
            <!-- <p>{{ bucketlist.spots.all }} places to visit</p> -->
            <a href="{% url 'bucketlist' bucketlist.id %}"><p>See spots &rarr;</p></a>
    </div>
{% empty %}
    <p>You don't have a Bucketlist... Go create one!</p>

{% endfor %}
</section>

{% endblock %}

