{% extends 'base.html' %}
{% block content %}

<section class="slide">
    <h2>{{ city.name }}</h2>
    <p>{{ city.state }}, {{ city.country }}</p>
    <img src="https://picsum.photos/1200/200">
</section>
<section class="flex-container">
    {% for bucketlist in bucketlists %}
        {% for spot in bucketlist.spots.all %}
            <div class="col-3">
                <a href="{% url 'spots_detail' spot.id %}">
                    <h2>{{ spot.name }}</h2>
                    <p>{{ spot.details }}</p>
                </a>

            </div>
        {% endfor %}
    {% endfor %}
    
</section>
<section class="btn">
        <button><a href="{% url 'add_spot' city.id %}">Add a New Spot!</a></button>
</section>


{% endblock %}