{% extends 'base.html' %}
{% block content %}
<section class="breadcrumb">
        <p>{{ city }}</p>
</section>
<section class="spot">
    <div class="spot-img">
        {% for photo in spot.photo_set.all|slice:"1" %}
            <img src="{{ photo.url }}">
        {% endfor %}
    </div>
    <div class="spot-details">
        <h2>{{ spot.name }}</h2>
        <p>{{ spot.details }}</p>

        {% if bucketspot %}
            {% if bucketspot.done == True %}
                <p id="checked">&#9726 Completed!</p>
            {% else %}
                <p><a href="{% url 'check_done' bucketspot.id %}">&#9725 Completed!</a></p>
            {% endif %}    
        {% else %}
            <a href="{% url 'add_spot_bucket' spot.id %}"><button class="btn-spot">Add to Bucketlist!</button></a>
        {% endif %}

    </div>
</section>
<section class="spot">
    <div class="photo">
        <h3>Photos:</h3>
        {% for photo in spot.photo_set.all %}
        <img src="{{photo.url}}">
        {% empty %}
        <p>No Photos Uploaded</p>
        {% endfor %}
        <form action="{% url 'add_photo' spot.id %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" class="btn" value="Upload Photo">
        </form>
    </div>
    <div class="comment">
        <h3>Comments:</h3>
        {% for comment in spot.comment_set.all %}
            <p>{{comment.user}}: {{comment.content}}</p>
            {% if current_user == comment.user %}
            <div>
                <a href="{% url 'comment_update' comment.id %}">Edit</a>
                <a href="{% url 'comment_delete' comment.id %}">Delete</a>
            </div>
            {% endif %}
        {% endfor %}
        <form action="{% url 'add_comment' spot.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" class="btn" value="Comment">
        </form>
    </div>
</section>


{% endblock %}